.clientLogos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .clientLogos {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .clientLogos img {
        display: flex;
        margin: 10px 0;
        padding: 20px;
        width: 150px;
    
    }


}