/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  height: 80px;
  box-shadow: 2px 2px 8px #000;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
}

.logo {
  font-weight: 800;
  font-size: 20px;
  color: #d92cf9;
  margin-bottom: 0;
}

.nav-menu ul {
  display: flex;
  gap: 4.5rem;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

.nav-menu a {
  text-decoration: none;
  color: #6f6f6f;
  text-transform: uppercase;
}

.nav-menu a:hover {
  color: #d92cf9;
}

.menuBtn {
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: #6f6f6f;
  cursor: pointer;
  
}



/* Slide-out menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  transform: translateX(100%); /* Start hidden off-screen */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.mobile-menu.open {
  transform: translateX(0); /* Slide in when open */
}

.closeBtn {
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: #6f6f6f;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}


/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }

  .mobile-menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    text-align: center;
    width: 100%;
  }

  .mobile-menu a {
    display: block;
    text-decoration: none;
    color: #6f6f6f;
    font-size: 18px;
    padding: 15px 0;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }

  .mobile-menu a:hover {
    color: #d92cf9;
  }

  .closeBtn {
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: #6f6f6f;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  .row {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .col-md-3,
  .d-sm-block {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .col-md-3 .logo {
    margin-left: 0;
  }
}
